<!doctype html>
<html lang="en">

<head>
    <title>MSEP</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='fullcalendar/main.css' rel="stylesheet" />
    <script src='fullcalendar/main.js'></script>
</head>

<body>
    <div id="calendar"
        style="Margin-left: 50%; border: solid black; border-width: 2px; background-image: url('uploads/bg-cal.jpg');">
    </div>
</body>

</html>