<!doctype html>
<html lang="en">

<head>
    <title>MSEP</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
 >
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#bool").text() == "0") {
            $("#home").prop("style", "display:none")
            $("#homet").prop("style", "display:none")
        } else if ($("#bool").text() == "1"){
            $("#login").prop("style", "display:none")
            $("#homet").prop("style", "display:none")
        }
        else if ($("#bool").text() == "2"){
            $("#login").prop("style", "display:none")
            $("#home").prop("style", "display:none")
        }
    })
</script>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <div class="container">
        <div id="nav-placeholder">

        </div>
        
        <script>
        $(function(){
          $("#nav-placeholder").load("/navbar.html");
        });
        </script><br><br><br>
        <center>
            <!-- <h3>MAIN PAGE </h3> <br> -->
            <!-- <hr><br> -->
            <p style="color: #403b87; margin-top: 60px; font-size: 30px; font-weight: 600;">An <span
                style="color: #f7a11c; font-family: 'Gill Sans Extrabold', monospace;">Engaging</span> learning App
            for interactive classrooms!</p> <br>
        <br>
        </center>
        <div class="col-md-8 offset-md-2 " id="home">
            <center>
            <span style="font-size: 20px;">Go to </span> <a href="/home" style=" font-weight: 900; color: #403b87; font-size: 20px;"> HOME,</a><span style="font-size: 20px;"> STUDENT </span><br><br>
            <form method="post" action="/logout">
                <button style="width: 50%;border:white; background-color: #f7a11c;"><p style="font: 30px; color: white; font-weight: 600;"><br>LOGOUT</p></button>
            </form>
        </center>
        </div>
        <div class="col-md-8 offset-md-2 " id="homet">

            <center>
                <span style="font-size: 20px;">Go to </span> <a href="/homet" style=" font-weight: 900; color: #403b87; font-size: 20px;"> HOME,</a><span style="font-size: 20px;"> TEACHER </span><br><br>
                <form method="post" action="/logout">
                    <button style="width: 50%;border:white; background-color: #f7a11c;"><p style="font: 30px; color: white; font-weight: 600;"><br>LOGOUT</p></button>
                </form>
            </center>
        </div>

    <div id="login" class="row" style="margin-top: 20px;">
        <div class="col-lg-6 mb-4" style="width: 500px; margin-left: 12%; display: true;">
            <div class="card" style="background-color: #F7F6FB;">
                <img class="card-img-top" src="" alt="">
                
                <div class="card-body" style="height: 300px;">
                    <center>
                    <h5 class="card-title" style="color: #403b87; font-weight: 800; font-size: 30px;">Student</h5><hr>
                    <p class="card-text">
                        One stop to enjoy virtual classes during this pandemic!
                    </p> <br>
                    
                    <button class="loginbtn"><a href="/login" class="lgnbtn">LOGIN</a></button><br><br>
                        <button class="loginbtn"><a href="/register" class="lgnbtn">REGISTER</a></button>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4" style="width: 500px; display: true;">
            <div class="card" style="background-color: #F7F6FB;">
                <img class="card-img-top" src="" alt="">

                <div class="card-body" style="height: 300px;">
                    <center>
                    <h5 class="card-title" style="color: #403b87; font-weight: 800; font-size: 30px;">Teacher</h5><hr>
                    <p class="card-text">
                        Teach, interact, assign tests and grade your students!
                    </p><br>
                      
                    <button class="loginbtn"><a href="/logint" class="lgnbtn">LOGIN</a></button><br><br>
                    <button class="loginbtn"><a href="/registert" class="lgnbtn">REGISTER</a></button>
                </center>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    <!--to be ignored hidden value-->
    <div id="bool" style="display: none"><%=bool%></div>
</body>

</html>