<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div>
    <h1>Course Page</h1>
</div>
<hr>
<div>
    <h2>Course </h2>
<% if(course!=null) {  %>
    <div> This is a single course page
    <h1> <%=course.name%></h1>
    <%=course.code%>
    <%=course.instructor%>
    <% } %> </div>
</div>
<script>

</script>